@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
}

header {
  padding-top: 25px;
  height: 35vh;
  background-image: url("../resources/codingPic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  div {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(white, 0.5);
    width: 80%;
    padding: 25px 0;
    border-radius: 5px;
  }
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  background-color: black;
  position: relative;
}
.table-wrap {
  margin: 0 auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(lightblue, 0.6);
  display: none;
}

table {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

th,
td {
  border: 1px solid white;
  color: white;
}

.animated-background {
  height: 100%;
  width: 100%;
}

.pixel-wrap {
  $pixelWidth: 10;
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .pixel {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%),
      hsla(180, 100%, 80%, 0)
    );
    animation: fading 200ms infinite, scaling 2s infinite;
    @keyframes fading {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.8;
      }
      100% {
        opacity: 1;
      }
    }
  }

  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      $pixelSize: random($pixelWidth);
      width: $pixelSize + px;
      height: $pixelSize + px;

      $startingPositionY: random(10) + 100;
      $aniName: "move-" + $i;
      $moveDuration: 7000 + random(4000) + ms;

      animation-name: #{$aniName};
      animation-duration: $moveDuration;
      animation-delay: random(11000) + ms;

      @keyframes #{$aniName} {
        from {
          transform: translate3d(#{random(100) + vw}, #{random(100) + vh}, 0);
        }
        to {
          transform: translate3d(#{random(100) + vw}, #{random(100) + vh}, 0);
        }
      }
      .pixel {
        animation-delay: random(4000) + ms;
      }
    }
  }
}
